*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.flex-container {
  display: flex;
}

nav {
  padding: 0 25px;
}

#top-nav-bar {
  justify-content: space-between;
}
